body{
	width: 100vw;
	min-height:100vh;
min-height: -webkit-fill-available;
color: #232b2b;
font-size: 14px;
margin: 0 !important;
	}

.background-color{
	position:absolute;
	width:100vw;
	height: 100vh;
	z-index: -100;
background: #FFEEEE;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #DDEFBB 0, #FFEEEE 50%);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #DDEFBB 0, #FFEEEE 50%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text{
	padding: 2vw 0 0 2vw;
	width:450px;
			display:flex;
		flex-direction: column;
		justify-content: space-between;
}

.sans{
	font-family:Arial;
	font-size: 1em;
	line-height: 1.25;
}

.mono{
	font-family: Courier;
	font-size: .9em;
}

p:first-child{
	margin-top:0;
}

.header{
	margin-bottom: 0 !important;
}
.clients{
		margin-top: 0em !important;
}

a{
	text-decoration: none;
	color: #232b2b;
}

ul{ 
	  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:hover{
	    cursor: alias;
}

@media only screen and (max-width: 786px) {

	body{
		overflow:hidden;
	}

	.text{

	}

	.sans{
		line-height: 1.15;
	}

	.text{
	width: 90vw;
}

}