<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>Taeyoon Choi</title>
	<link href="{{site.baseurl}}/css/normalize.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
</head>

<body class="home">

<header class="flex sticky-header">
	<h1 class="logo"><a href="{{site.url}}">Taeyoon Choi</a></h1>
	{% include nav.html %}
</header>

<div class="top-padding-index"></div>

{{content}}

<footer class="sticky-footer credits">
	<a href="{{site.url}}/about/" {% if page.url == '/about/' %}class="current"{% endif %}>About</a>
</footer>



</body>
</html>