<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>Taeyoon Choi</title>
	<link href="{{site.baseurl}}/css/normalize.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
</head>

<body class="alldetail">

<header class="sticky-header">
	{% include painting-poem-nav.html %}
</header>

<div class="top-padding2"></div>
	<img class="painting-container" src="{{site.baseurl}}/img/{{page.image}}" alt="Photo of {{page.title}}">
<!-- 	<div class="painting-title">{{page.title}}</div>
 -->
 {{content}}

<div class="sticky-footer">
 {% include next-prev-nav2.html %}
</div>

</body>
</html>