<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="utf-8">
	<title>Taeyoon Choi</title>
	<link href="{{site.baseurl}}/css/normalize.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
</head>

<body>

<header class="sticky-header">
  {% include poem-painting-nav.html %}
    {% include poem-painting-mobile-nav.html %}
</header>

<div class="top-padding-detail"></div>
<div class="top-padding-poem"></div>
<div class='poem-content' markdown='1'>
  {{content | markdownify}}
	
</div>

{% include poem-detail-footer.html %}

</body>
</html>