<ul class="pager flex"> {% assign prev = "" %}
  {% assign next = "" %}
  {% assign prev = "" %}
  {% assign stop = false %}
  {% assign isPainting = page.is-painting %}
  {% assign isPoem = page.is-poem %}

  {% for post in site.posts %}
    {% if post.post-id == page.post-id %}
      {% assign stop = true %}
    {% elsif post.categories == page.categories %}
      {% if stop %}
        {% if isPainting %}
          {% assign prev = post.painting-path %}
        {% elsif post.isPoem %}
          {% assign prev = post.poem-path %}
        {% else %}
          {% assign prev = post.url %}
        {% endif %}
        {% assign pTitle = post.title %}
        {% break %}
      {% elsif stop == false %}
        {% if isPainting %}
          {% assign next = post.painting-path %}
        {% elsif post.isPoem %}
          {% assign next = post.poem-path %}
        {% else %}
          {% assign next = post.url %}
        {% endif %}

        {% assign nTitle = post.title %}
      {% endif %}
    {% endif %}
  {% endfor%}

  {% if next != "" %}
    <li class="preview"><a href="{{site.baseurl}}{{ next }}">Prev</a></li>
  {% endif %}

  {% if next == "" %}
    <li class="preview">&nbsp;</li>
  {% endif %}


  {% if page.is-painting %}
    <li class="painting-title">{{page.title}}</li>
  {% endif %}

  {% if prev != "" %}
    <li class="next"><a href="{{site.baseurl}}{{ prev }}">Next</a></li>
  {% endif %}

  {% if prev == "" %}
    <li class="next">&nbsp;</li>
  {% endif %}


  </ul>